@font-face {
    font-family: 'Metal Gear Solid 2';
    src: url('/fonts/MGS2.ttf') format('truetype');
  }
body{
    background-color: #00092F;
    overflow-x: hidden;
}


 .header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     width: 100%; 
     height: 80vh;
     background-image: url('../img/header\ img.png');
     background-position: 50% 50%;
     
}
.header-title
{
    text-transform: uppercase;
    color: #fff;
    font-family: "Metal Gear Solid 2";
}
.header-title h1 
{
    font-size: 4.5rem;
    position: absolute;
    bottom: 25%;
    left: 10%;
    font-weight: 500;
}
.header-title h1::after
{
    content: " ";
    background-color: #F24E1E;
    display: block;
    margin-top: -20%;
    width: 60%;
    height: 20px;

}
.header-title h6
{
    font-size: 4.5rem; 
    position: absolute;
    bottom: 6%;
    left: 10%;
    font-weight: 500;
}
 

.back-button {
    position: absolute;
    background-color: #F24E1E;
    border-radius: 4px;
 
    top: 10%;
    right: 15%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}


.back-button #i {
    padding: 10px 15px;
    color: #fff;
    font-size: 1.5rem;
}
 
.prgraph-title
{
  margin: 0 10%;
  margin-bottom: 20px;
  color: #fff;
  background-image: url('../img/UNDERtextrec.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  font-family: "Poppins", Helvetica;
  font-size: 1.4rem;
  text-align: justify
}


 
.allimg
{
    border-radius: 8px;
    border: 1px solid #F24E1E;
  }

.allimg:hover img
{
 
transform: scale(1);
}

.allimg:hover
{
    padding: 3% 2% 0 2%;

}

.allimg img
{
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    transform: scale(.9);
    transition:  all .7s ;

}
 

/* start scroll to top button  */
.up-button {
    display: none;
    background-color: #FD3900;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
}

.up-button:hover {
    background-color: #F24E1E;
}

.up-button #to-top-button {
    font-size: 1.5rem;
    margin-left: 30%;
    margin-top: 25%;
}


#lightboxcontainer 
{
  position: fixed;
  background-color: rgb(0, 0, 0 ,.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
   background-size: cover;
    
}

#lightboxcontaineritem 
{
    
  position: fixed;
   width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
   cursor: pointer;
 
   margin-top: 2%;
}
 


#close ,#next,#prev
{
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
   width: 60px;
  height: 60px;
  background-color: rgba(0, 7, 38, 0);
  border: none;
  box-shadow: #da600f 0 0 5px ;
  border-radius:25%;
  
}

#next 
{
  top: 50%;
  right: 3%;
}

#prev
{
  top: 50%;
  left: 3%;
}
/* end scroll to top button  */

/* ---------------------------------------start media query--------------------------------------- */

@media screen and (max-width:768px) 
{
    .prgraph-title
    {
      margin: 0 5%;
      margin-bottom: 20px;
      font-size: 1rem;
      text-align: justify
    }
      
    #lightboxcontaineritem 
{
  width: 100%;
  height: 100%;
  align-items: center;
justify-content: center;
 
}

#lightboxcontaineritem  img
{
  width: 70%;
  height: 70%;
}
#close ,#next,#prev
{
 
  font-size: 25px;
   width: 40px;
  height: 40px;
}

}
 